::ng-deep .mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 700px;
    height: 271px;
    min-height: inherit;
    max-height: inherit;
    position: relative;
    left: 280px;
}