<div class="main-content">
    <!-- Page content -->
    <div class="main-content-wrap section-ptb wishlist-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="search-error-wrapper">
                        <h2>Không tìm thấy trang</h2>
                        <p class="home-link">Trang web không hoạt động.</p>
                        <a routerLink='' class="home-bacck-button">Trở về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

